.isotope-grid
{
  width:      100%;
  height:     100%;
  margin-top: 10px;

  .thumbnail-card
  {
    width:  100%;
    height: 100%;
  }

  .active{
    border: 1px solid #0000FF;
  }
}

.isotope-grid-item
{
  margin-bottom: 2px;
  background-color: #eeeeee;
}

.isotope-grid-item-portrait
{

}

.isotope-grid-item-wide
{

}
