.header{
  height:60px;
  color: #ffffff;
  background-color: #3F51B5;
  border-bottom: 1px solid #F3E5F5;
}

.footer{
  width:100%;
  height:40px;
  border-top: 1px solid #F3E5F5;
  padding-right:10px;

  button{
    margin-top:10px;
    width: 100px;
  }

  .right{
    text-align:right;
    display: inline-block;
    width:50%;
  }

  .left{
    text-align:left;
    display: inline-block;
    width:50%;
  }
}


.main {
  height: 100%;
  min-height:300px;
  margin-top:10px;
  margin-bottom:10px;

  aside{
    width: 20%;
    min-width: 150px;
    height: 300px;
    border-right: 1px solid #F3E5F5;
    float:left;
    display: inline-block;

    & ul{
      list-style: decimal;
    }
  }

  .main-body{
    width: 80%;
    float: left;
    display: inline-block;
    padding-left: 10px;
  }

  .main-section{
    min-height:250px;
    padding:20px;

    table{
      padding:10px;

      td{
        padding:10px;
      }
    }
  }
}

