{
    "presets": [
        "stage-1",
        "react-app"
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", {"loose": true}],
        ["transform-decorators-legacy"],
        ["react-intl", {
            "messagesDir": "./src/i18n/messages"
        }]
    ]
}
