
.FileUploadControls
{

  .background
  {
    background:            url(assets/icons/ic_cloud_upload_48px.svg);
    background-size:       100% 100%;
    background-repeat:     no-repeat;
    background-position-y: 0px;
    background-position-x: 0px;
    opacity:               .05;
    height:                180px;
    width:                 300px;
    position:              relative;
  }

  .file-wrapper
  {
    cursor:   pointer;
    display:  inline-block;
    overflow: hidden;
    position: relative;


    input
    {
      cursor:       pointer;
      height:       100%;
      position:     absolute;
      right:        0;
      top:          0;

      filter:       alpha(opacity=1);
      -moz-opacity: 0.01;
      opacity:      0.01;

      font-size:    100px;
    }
  }
}

.uploadView
{
  padding: 0px;

  ul
  {
    list-style: none;

    li
    {
      float:   left;
      padding: 5px;
      width:   100%;
    }
  }

}
