.breadcrumb
{
  background-color:transparent;
  list-style: none;
  margin-left: -30px;

  ol{
    list-style: none;
    padding: 0px;

  }

  li{
    float:left;
    margin: 0 0 10px 5px;
  }

  li:before{
    content: "/ ";
  }
  li:after{
    content: " ";
  }
}
