
<link rel="import" href="../../../../components/core-animated-pages/core-animated-pages.html"/>
<link rel="import" href="../../../../components/paper-input/paper-input.html"/>
<link rel="import" href="../../../../components/paper-button/paper-button.html"/>


<polymer-element name="login-user" attributes="validationMessage">
    <template>

        <style>
            .chip-container {
                position: absolute;
                top: 275px;
                right: 0;
                left: 0;
                text-align: center;
                color: #000;
            }

            .chip {
                display: inline-block;
                position: relative;
                border-radius: 3px;
                margin: 4px;
                overflow: hidden;
                text-align: start;
                background-color: #fff;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
            }

            .chip-top {
                width: 200px;
                height: 200px;
            }

            .chip-bottom {
                padding: 8px;
                line-height: 1.5;
            }

            .chip-album-title {
                font-weight: bold;
            }

            #details {
                padding: 200px 10% 0;
            }

            .card {
                color: #000;
                height: 400px;
                border-radius: 3px;
                text-align: start;
                overflow: hidden;
                background: #fff;
                box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            .card-left {
                width: 400px;
            }

            .card-right {
                padding: 24px;
            }

            .card-icon {
                border-radius: 50%;
                width: 60px;
                height: 60px;
                margin-right: 16px;
            }

            .card-album-title {
                font-size: 2em;
            }


            /* Style #my-button blue with white text and darker blue ink. */
            #login-button {
                background: #4285f4;
                color: #fff;
            }

            #login-button:hover {
                background: #2a56c6;
            }

            #login-button::shadow #ripple {
                color: #2a56c6;
            }
        </style>

        <core-animated-pages selected="{{page}}" transitions="hero-transition" on-core-animated-pages-transition-end="{{complete}}" >

            <section>

                <div class="chip-container" hero-p on-tap="{{transition}}">

                    <template repeat="{{items as item}}">

                        <div class="chip" hero-id="{{item.id}}" hero?="{{selectedAlbum === item }}">
                            <div class="chip-top" style="background:{{item.color}};" hero-id="{{item.id}}-art" hero?="{{selectedAlbum === item}}"></div>
                            <div class="chip-bottom">
                                <div class="chip-album-title">{{item.name}}</div>
                            </div>
                        </div>

                    </template>

                </div>
            </section>

            <section id="details">

                <div class="card" layout horizontal hero-id="{{selectedAlbum.id}}" hero >
                    <div class="card-left" style="background:{{selectedAlbum.color}};" hero-id="{{selectedAlbum.id}}-art" hero ></div>
                    <div class="card-right" flex>
                        <div layout horizontal center>
                            <div flex>
                                <div class="card-album-title">{{selectedAlbum.name}}</div>

                                <br/>
                                <paper-input id="password"
                                             type="password"
                                             label="Your Password"
                                             floating="true" password></paper-input>
                                <paper-button id="login-button" label="Login" style="width:150px;" raisedButton on-click="{{loginHandler}}"></paper-button>
                                <paper-button id="cancel-button" label="cancel" on-tap="{{transition}}"></paper-button>
                                <paper-input type="hidden" id="username" inputValue="{{selectedAlbum.username}}"/>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </core-animated-pages>

    </template>
    <script>

        Polymer('login-user', {
            applyAuthorStyles: false,
            page: 0,
            validationMessage: "",

            items: [
                { id:'0001', name: 'Mike', username:'mnimer', color: '#3949ab' },
                { id:'0002', name: 'Angela', username:'animer', color: '#3949ab' },
                { id:'0003', name: 'Kayden', username:'knimer', color: '#3949ab' },
                { id:'0004', name: 'Hailey', username:'hnimer', color: '#3949ab' }
            ],

            validationMessageChanged: function(oldVal, newVal) {
                //var newVal = this.getAttribute(attrName);
                this.validationMessage = newVal;
                if( newVal != "") {
                    this.$.password.error = newVal;
                }
                alert(newVal);
            },

            selectedAlbum: null,

            transition: function(e) {
                if (this.page === 0 && e.target.templateInstance.model.item) {
                    this.selectedAlbum = e.target.templateInstance.model.item;
                    this.page = 1;
                } else {
                    this.page = 0;
                }
            },

            loginHandler: function(e, a1, a2){
                if( this.$.password.value == "" ){
                    this.$.password.error = "Password is required";
                }else{
                    console.log("fire login event");
                    this.fire('login', {username: this.$.username.inputValue, password:this.$.password.value});
                }
            }
        });
    </script>
</polymer-element>