
.filesView
{
  background-color: #fff;

  tr{

    :hover
    {

        font-weight: bold;

    }
  }

  .active
  {
      background-color: #eee;
  }
  
  .disabled
  {
      color: #eeeeee;
  }
  

  .list-group{
    margin-bottom: 3px;
  }

  .fileRows {
    .row:hover{
      background-color: #eee;
    }
  }
}
