
.photosView
{
  padding: 0px;
  width:   100%;
  height:  100%;

  li
  {
    float:   left;
    padding: 5px;
    width:   100%;
  }

  .photo-body
  {
    width:  100%;
    height: 100%;
  }

  .photoActions
  {
    button
    {
      border:        1px solid #efefef;
      border-radius: 4px;
    }
  }

  .sidebarSection
  {
    .header
    {
      height: 60px;
    }
  }

  .loadingPanel
  {
    height:           200px;
  }
}

.dateTree
{
  padding-bottom: 20px;
}

.tagList
{
  padding-bottom: 20px;

  li
  {
    padding: 0px;
  }
}

.peopleList
{
  padding-bottom: 20px;

  li
  {
    padding: 0px;
  }
}


