
.photosView
{
  padding: 0px;

  li
  {
    float:   left;
    padding: 5px;
    width:  100%;
  }

}

.dateTree
{
  padding-bottom: 20px;
}


.tagList
{
  padding-bottom: 20px;

  li
  {
    padding: 0px;
  }
}

.peopleList
{
  padding-bottom: 20px;

  li
  {
    padding: 0px;
  }
}
