
/** in Theme-Material include **/
@font-face
{
  font-family: 'Roboto';
  font-style:  normal;
  src:         url('assets/fonts/RobotoTTF/Roboto-Regular.ttf');
}

@font-face
{
  font-family: 'Roboto Light';
  font-style:  normal;
  src:         url('assets/fonts/RobotoTTF/Roboto-Light.ttf');
}

$font-family-base: 'Roboto Light', 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;


/******************************
* Simple growing content box layout for aside's
******************************/
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .boxRow {
  flex: 0 1 40px;
}

.box .boxRow.header {
  flex: 0 0 40px;

  .btn
  {
    padding: 8px 15px;
    margin:  0px 0px;
  }
}

.box .boxRow.content {
  flex: 1 0 auto;
}

.box .boxRow.footer {
  flex: 0 1 220px;
}




/******************************
* Bootstrap Overrides
******************************/



.navbar-default {
  background-color: #303F9F;
  border-color: #303F9F;

  & .navbar-nav > .active, & .navbar-nav > .active > a, & .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: transparent;
  }

  & .navbar-nav > li > a, & .navbar-nav > li.active {
    color: #ffffff;
    background-color: transparent;
  }

  .navbar-left {
    font-size: 2rem;
  }

  .breadcrumb a {
    color: #ffffff;
  }
}




.nav-tabs
{
  .active
  {
    border-bottom: 2px solid white;
  }
}

.list-group
{
  margin-bottom: 3px;
}

.list-group-item
{
  margin-bottom: 3px;
}





.list-group {
  border-radius: 0;
}
.list-group .list-group-item {
  background-color: transparent;
  overflow: hidden;
  border: 0;
  border-radius: 0;
  padding: 0 16px;
}
.list-group .list-group-item .row-picture,
.list-group .list-group-item .row-action-primary {
  float: left;
  display: inline-block;
  padding-right: 16px;
}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img,
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i,
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {
  display: block;
  width: 56px;
  height: 56px;
}
.list-group .list-group-item .row-picture img,
.list-group .list-group-item .row-action-primary img {
  background: rgba(0, 0, 0, 0.1);
  padding: 1px;
}
.list-group .list-group-item .row-picture img.circle,
.list-group .list-group-item .row-action-primary img.circle {
  border-radius: 100%;
}
.list-group .list-group-item .row-picture i,
.list-group .list-group-item .row-action-primary i {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  text-align: center;
  line-height: 56px;
  font-size: 20px;
  color: white;
}
.list-group .list-group-item .row-picture label,
.list-group .list-group-item .row-action-primary label {
  margin-left: 7px;
  margin-right: -7px;
  margin-top: 5px;
  margin-bottom: -5px;
}
.list-group .list-group-item .row-content {
  display: inline-block;
  width: calc(100% - 92px);
  min-height: 66px;
}
.list-group .list-group-item .row-content .action-secondary {
  position: absolute;
  right: 16px;
  top: 16px;
}
.list-group .list-group-item .row-content .action-secondary i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.list-group .list-group-item .row-content .action-secondary ~ * {
  max-width: calc(100% - 30px);
}
.list-group .list-group-item .row-content .least-content {
  position: absolute;
  right: 16px;
  top: 0px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}
.list-group .list-group-item .list-group-item-heading {
  color: rgba(0, 0, 0, 0.77);
  font-size: 20px;
  line-height: 29px;
}
.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus {
  background: rgba(0, 0, 0, 0.15);
  outline: 10px solid rgba(0, 0, 0, 0.15);
}
.list-group .list-group-item.active .list-group-item-heading,
.list-group .list-group-item.active .list-group-item-text {
  color: rgba(0, 0, 0, 0.84);
}
.list-group .list-group-separator {
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.list-group .list-group-separator:before {
  content: "";
  width: calc(100% - 90px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: right;
}





.btn {
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.84);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
}
.btn:hover:not(.btn-link):not(.btn-flat) {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn:active:not(.btn-link):not(.btn-flat) {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn:not(.btn-link):not(.btn-flat),
.btn-default:not(.btn-link):not(.btn-flat) {
  background-color: transparent;
}
.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #009587;
}
.btn-success:not(.btn-link):not(.btn-flat) {
  background-color: #0f9d58;
}
.btn-info:not(.btn-link):not(.btn-flat) {
  background-color: #03a9f4;
}
.btn-warning:not(.btn-link):not(.btn-flat) {
  background-color: #ff5722;
}
.btn-danger:not(.btn-link):not(.btn-flat) {
  background-color: #f44336;
}
.btn-material-red:not(.btn-link):not(.btn-flat) {
  background-color: #f44336;
}
.btn-material-pink:not(.btn-link):not(.btn-flat) {
  background-color: #e91e63;
}
.btn-material-purple:not(.btn-link):not(.btn-flat) {
  background-color: #9c27b0;
}
.btn-material-deeppurple:not(.btn-link):not(.btn-flat) {
  background-color: #673ab7;
}
.btn-material-indigo:not(.btn-link):not(.btn-flat) {
  background-color: #3f51b5;
}
.btn-material-blue:not(.btn-link):not(.btn-flat) {
  background-color: #4285f4;
}
.btn-material-lightblue:not(.btn-link):not(.btn-flat) {
  background-color: #03a9f4;
}
.btn-material-cyan:not(.btn-link):not(.btn-flat) {
  background-color: #00bcd4;
}
.btn-material-teal:not(.btn-link):not(.btn-flat) {
  background-color: #009688;
}
.btn-material-lightgreen:not(.btn-link):not(.btn-flat) {
  background-color: #8bc34a;
}
.btn-material-lime:not(.btn-link):not(.btn-flat) {
  background-color: #cddc39;
}
.btn-material-lightyellow:not(.btn-link):not(.btn-flat) {
  background-color: #ffeb3b;
}
.btn-material-orange:not(.btn-link):not(.btn-flat) {
  background-color: #ff9800;
}
.btn-material-deeporange:not(.btn-link):not(.btn-flat) {
  background-color: #ff5722;
}
.btn-material-grey:not(.btn-link):not(.btn-flat) {
  background-color: #9e9e9e;
}
.btn-material-bluegrey:not(.btn-link):not(.btn-flat) {
  background-color: #607d8b;
}
.btn-material-brown:not(.btn-link):not(.btn-flat) {
  background-color: #795548;
}
.btn-material-lightgrey:not(.btn-link):not(.btn-flat) {
  background-color: #ececec;
}
.btn.btn-flat:not(.btn-link),
.btn-default.btn-flat:not(.btn-link) {
  color: rgba(0, 0, 0, 0.84);
}
.btn-primary.btn-flat:not(.btn-link) {
  color: #009587;
}
.btn-success.btn-flat:not(.btn-link) {
  color: #0f9d58;
}
.btn-info.btn-flat:not(.btn-link) {
  color: #03a9f4;
}
.btn-warning.btn-flat:not(.btn-link) {
  color: #ff5722;
}
.btn-danger.btn-flat:not(.btn-link) {
  color: #f44336;
}
.btn-material-red.btn-flat:not(.btn-link) {
  color: #f44336;
}
.btn-material-pink.btn-flat:not(.btn-link) {
  color: #e91e63;
}
.btn-material-purple.btn-flat:not(.btn-link) {
  color: #9c27b0;
}
.btn-material-deeppurple.btn-flat:not(.btn-link) {
  color: #673ab7;
}
.btn-material-indigo.btn-flat:not(.btn-link) {
  color: #3f51b5;
}
.btn-material-blue.btn-flat:not(.btn-link) {
  color: #4285f4;
}
.btn-material-lightblue.btn-flat:not(.btn-link) {
  color: #03a9f4;
}
.btn-material-cyan.btn-flat:not(.btn-link) {
  color: #00bcd4;
}
.btn-material-teal.btn-flat:not(.btn-link) {
  color: #009688;
}
.btn-material-lightgreen.btn-flat:not(.btn-link) {
  color: #8bc34a;
}
.btn-material-lime.btn-flat:not(.btn-link) {
  color: #cddc39;
}
.btn-material-lightyellow.btn-flat:not(.btn-link) {
  color: #ffeb3b;
}
.btn-material-orange.btn-flat:not(.btn-link) {
  color: #ff9800;
}
.btn-material-deeporange.btn-flat:not(.btn-link) {
  color: #ff5722;
}
.btn-material-grey.btn-flat:not(.btn-link) {
  color: #9e9e9e;
}
.btn-material-bluegrey.btn-flat:not(.btn-link) {
  color: #607d8b;
}
.btn-material-brown.btn-flat:not(.btn-link) {
  color: #795548;
}
.btn-material-lightgrey.btn-flat:not(.btn-link) {
  color: #ececec;
}
.btn.btn-flat {
  background: none;
  box-shadow: none;
  font-weight: 500;
}
.btn.btn-flat:disabled {
  color: #a8a8a8 !important;
}
.btn.btn-raised {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.btn-raised:active:not(.btn-link) {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.btn.btn-fab {
  margin: 0;
  padding: 15px;
  font-size: 26px;
  width: 56px;
  height: 56px;
}
.btn.btn-fab,
.btn.btn-fab:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12);
}
.btn.btn-fab,
.btn.btn-fab:hover,
.btn.btn-fab-default,
.btn.btn-fab:hover-default {
  background-color: transparent;
}
.btn.btn-fab-primary,
.btn.btn-fab:hover-primary {
  background-color: #009587;
}
.btn.btn-fab-success,
.btn.btn-fab:hover-success {
  background-color: #0f9d58;
}
.btn.btn-fab-info,
.btn.btn-fab:hover-info {
  background-color: #03a9f4;
}
.btn.btn-fab-warning,
.btn.btn-fab:hover-warning {
  background-color: #ff5722;
}
.btn.btn-fab-danger,
.btn.btn-fab:hover-danger {
  background-color: #f44336;
}
.btn.btn-fab-material-red,
.btn.btn-fab:hover-material-red {
  background-color: #f44336;
}
.btn.btn-fab-material-pink,
.btn.btn-fab:hover-material-pink {
  background-color: #e91e63;
}
.btn.btn-fab-material-purple,
.btn.btn-fab:hover-material-purple {
  background-color: #9c27b0;
}
.btn.btn-fab-material-deeppurple,
.btn.btn-fab:hover-material-deeppurple {
  background-color: #673ab7;
}
.btn.btn-fab-material-indigo,
.btn.btn-fab:hover-material-indigo {
  background-color: #3f51b5;
}
.btn.btn-fab-material-blue,
.btn.btn-fab:hover-material-blue {
  background-color: #4285f4;
}
.btn.btn-fab-material-lightblue,
.btn.btn-fab:hover-material-lightblue {
  background-color: #03a9f4;
}
.btn.btn-fab-material-cyan,
.btn.btn-fab:hover-material-cyan {
  background-color: #00bcd4;
}
.btn.btn-fab-material-teal,
.btn.btn-fab:hover-material-teal {
  background-color: #009688;
}
.btn.btn-fab-material-lightgreen,
.btn.btn-fab:hover-material-lightgreen {
  background-color: #8bc34a;
}
.btn.btn-fab-material-lime,
.btn.btn-fab:hover-material-lime {
  background-color: #cddc39;
}
.btn.btn-fab-material-lightyellow,
.btn.btn-fab:hover-material-lightyellow {
  background-color: #ffeb3b;
}
.btn.btn-fab-material-orange,
.btn.btn-fab:hover-material-orange {
  background-color: #ff9800;
}
.btn.btn-fab-material-deeporange,
.btn.btn-fab:hover-material-deeporange {
  background-color: #ff5722;
}
.btn.btn-fab-material-grey,
.btn.btn-fab:hover-material-grey {
  background-color: #9e9e9e;
}
.btn.btn-fab-material-bluegrey,
.btn.btn-fab:hover-material-bluegrey {
  background-color: #607d8b;
}
.btn.btn-fab-material-brown,
.btn.btn-fab:hover-material-brown {
  background-color: #795548;
}
.btn.btn-fab-material-lightgrey,
.btn.btn-fab:hover-material-lightgrey {
  background-color: #ececec;
}
.btn.btn-fab,
.btn.btn-fab .ripple-wrapper {
  border-radius: 100%;
}
.btn.btn-fab.btn-fab-mini {
  width: 40px;
  height: 40px;
  padding: 13px;
  font-size: 15px;
}
.btn.btn-fab i {
  position: relative;
  top: -5px;
}
.btn-link,
.btn:not([class^="btn btn-"]),
.btn-default {
  color: rgba(0, 0, 0, 0.84);
}
.btn-link:hover,
.btn:not([class^="btn btn-"]):hover,
.btn-default:hover {
  color: rgba(0, 0, 0, 0.84);
}
.btn:not([class^="btn btn-"]):hover,
.btn-default:hover,
.btn-flat:not(.btn-link):hover,
.btn:not([class^="btn btn-"]).active,
.btn-default.active,
.btn-flat:not(.btn-link).active {
  background-color: rgba(255, 255, 255, 0.5);
}




