@font-face
{
  font-family: 'Glyphicons Halflings';
  src:         url('bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src:         url('bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('bower_components/bootstrap-sass-official/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@import "./bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables"; //set for defaults
@import "./bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "./bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "./../node_modules/ladda-bootstrap/dist/ladda-themeless.min.css";
@import "./assets/js/imglykit/css/imglykit-night-ui.css";
@import "./../node_modules/darkroom/lib/css/darkroom";
@import "./_colors"; //override bootstrap themes
@import "./_theme"; //override bootstrap themes

/***************************************
 * Defaults
 ***************************************/
html, body
{
  height:    100%;
  font-size: 62.5%;
  margin:    0px;
}

body
{
  background-color:  #f8f7f7;
  font-family:       $font-family-base;
  -webkit-transform: translateZ(0);
  transform:         translateZ(0);
  font-size:         14px;
  font-size:         1.4rem;
  font-weight:       300;
  color:             $text-color;
  margin:            0;
  background-color:  #ffffff;
}


@import "modules/login/login";
@import "modules/home/home";
@import "modules/dashboard/dashboard";
@import "modules/files/files";
@import "modules/photos/photos";
@import "modules/photoDetails/photoDetails";
@import "modules/photoEdit/photoEdit";
@import "modules/uploads/uploads";
@import "modules/userManager/userManager";
@import "components/appSidebar/appSidebar";
@import "components/clock/clock";
@import "components/folderTree/folderTree";
@import "components/tags/tags";
@import "components/exifData/exifData";
@import "components/exifMap/exifMap";
@import "components/sidebarSection/sidebarSection";
@import "components/isotopeGallery/isotopeGallery";

/**
// features
@import "directives/dirTree/dirTree";
@import "directives/fileCard/fileCard";
@import "modules/login/login";
@import "modules/home/home";
@import "modules/files/files";
@import "modules/photos/photos";
@import "modules/photos-details/photodetails";
@import "modules/uploader/uploader";
**/
