.loginView
{
  position:          absolute;
  top:               0;
  right:             0;
  left:              0;
  bottom:            0;
  background-size:   cover !important;
  background-repeat: no-repeat !important;

  .personCard
  {
    padding:    5px;
    text-align: center;

    .box
    {
      background-color: blue;
      height:           200px;
      width:            200px;
    }
  }

  .loginCard
  {
    padding:    5px;
    text-align: center;

    .box
    {
      background-color: blue;
      height:           200px;
    }
  }


  .loginCardForm
  {
    padding: 20px;
    width: 100%;
    background-color: #ffffff;

    input
    {
      width: 100%;
    }


  }

  .timeClock
  {
    position: absolute;
    bottom:   20px;
    left:     40px;
    width:    100%;
  }
}
