.loginView
{
  font-family:      'Lato', 'Roboto 2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000000;
  margin:           0;
  padding:          0;

  position:         absolute;
  top:              0;
  right:            0;
  left:             0;
  bottom:           0;
  background:       url('assets/images/stock-photo-landscape.jpg');
  background2:       url('http://lorempixel.com/1900/1000/nature/');
  background-size: 100% auto;

  ul{
    list-style: none;
  }

  .logins
  {
    height: 100%;

  }

  .login-grid
  {
    top:    100px;
    height: 100%;

    ul
    {
      list-style: none;

    }

    li
    {
      float:  left;
      margin: 10px;
    }
  }

  .timeClock
  {
    position: absolute;
    bottom:   20px;
    left:     40px;
    width:    100%;
  }

  /* Styles for signup panels */
  .loginCard
  {
    padding: 3px;
    margin-bottom: 0px;
    width:210px;
    float: left;
    margin: 20px;


    .box
    {
      background-color: blue;
      height:          200px;
      width:           200px;
    }

    h2
    {
      text-align: center;
    }
  }

  .loginCardForm
  {
    width: 500px;
    background-color: #fff;

    input{
      width: 100%;
    }

    .loginCard
    {
      width: 220px;
      margin: 0px;
    }

    .loginForm{
      float: left;
      width:280px;
    }
  }


}
